/* header */

header {
  grid-template-columns: 1fr;
  place-items: center center;
  line-height: 2rem;
}

header ul {
  flex-direction: column;
  place-self: stretch;
}

header a {
  display: block;
  padding: 0.5rem 0;
}

header ul li {
  padding: 0.2rem;
  align-self: stretch;
  text-align: center;
  border-bottom: 1px solid var(--gray);
}

header ul li:last-child {
  display: none;
}

header .logo {
  line-height: 3.2rem;
}

/* nav */

nav {
  overflow: hidden;
}

nav a {
  padding: 0 1rem;
}

/* showcase */

.showcase {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.showcase article:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.showcase article:nth-child(5) {
  display: none;
}

/* ads */

.ads {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.ads-img {
  background: url("/img/ads.png");
  grid-area: img;
}

.ads-img {
  background: none;
}

.ads h1 {
  grid-area: h1;
  font-size: 2rem;
}

/* content  */

.popular {
  display: none;
}

